APP_NAME=SIPERAH-RoB
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=daily
LOG_MAX_FILES=14
DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=siperah_rob
DB_USERNAME=postgres
DB_PASSWORD=

FILESYSTEM_DISK=local
CACHE_STORE=file
SESSION_DRIVER=file
QUEUE_CONNECTION=database
REDIS_CLIENT=predis
SANCTUM_STATEFUL_DOMAINS=localhost,127.0.0.1
CORS _ ALLOWED _ ORIGINS = *  
 CORS _ S U P P O R T S _ C R E D E N T I A L S = f a l s e
